body {
  background: gray;
}
.containers {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 0.5rem 1rem;
  text-align: center;
}

.navbar {
  font-weight: 700;
  padding: 15px 20px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 65px;
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
}
.made {
  font-weight: 100;
  font-size: 8px;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.img-fluid {
  margin-bottom: 10px;
  margin-right: 20px;
}
.heading {
  background-color: #63a1dd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 50px;
}
.heading h1 {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin-top: 90px;
}

.big-hr {
  color: #fff;
  height: 4px;
  margin: 20px 0;
}
.heading p {
  color: #fff;
}
.btn-book {
  text-decoration: none;
  background-color: #fff;
  padding: 10px 15px;
  font-weight: 600;
  color: #63a1dd;
  margin-top: 70px;
}
.mid-region {
  font-family: "Raleway", sans-serif;
  text-align: center;
}
.mid-region h2 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 50px;
}
.mid-region p {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 40px;
}
.btn-mid {
  text-decoration: none;
  border: 2px solid #63a1dd;
  padding: 10px 15px;
  font-weight: 600;
}
.info {
  font-family: "Raleway", sans-serif;
  background-color: #63a1dd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  color: #fff;
  margin-top: 40px;
  height: 200px;
}
.small-hr {
  height: 1px;
}
.info p {
  line-height: 1.2;
  font-size: 14px;
  font-weight: 500;
}
span {
  margin-top: 40px;
  font-weight: 600;
  text-align: center;
}
.address {
  background-color: #202124;
  color: #fff;
  padding: 20px 30px;
}
.indochino {
  margin-top: 50px;
}
.indochino img {
  margin-top: 50px;
}
.news {
  background-color: #202124;
  color: #fff;
  padding: 20px 30px;
}
.news h4 {
  font-size: 12px;
}
.news h3 {
  font-weight: 450;
  margin-top: 50px;
}
.news p {
  margin-top: 60px;
}
